body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

.item {
  margin: 20px;
  padding: 30px;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: #febe01;
  color: #332100;
  padding: 10px;
  border-radius: 4px;
}

.amarelo {
  color: #febe01;
}

.descricao-produto {
  color: #b2b2b2;
}